PORT=10000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/kazikenya?retryWrites=true&w=majority
JWT_SECRET=replace-with-a-long-random-secret
HASHPAY_ACCOUNT_ID=HPxxxxxxxx
HASHPAY_API_KEY=
HASHPAY_WEBHOOK_SECRET=
HASHPAY_SECURITY_CREDENTIAL=
ADMIN_EMAIL=Kiokok614@gmail.com
ADMIN_PATH=/kz-control-7c91e6d204f5b8a14c3d2e60
ADMIN_PASSWORD=replace-with-a-unique-admin-password
